<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive CSS</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <style>
    body {
      background: #282928;
    }

    nav {
      margin-bottom: 1rem;
    }

    main {
      background: #fafafa;
    }

    input {
      display: block;
    }

    .parent {
      width: 100%;
      height: 100px;
      background: grey;
      box-sizing: border-box;
    }

    .child {
      display: inline-block;
      width: 15%;
      height: 50px;
      background: aqua;
      box-sizing: border-box;
    }
  </style>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Interactive CSS</a>
    </nav>
    <main class="container">
      <div id="app">
        <h1>Interactive CSS</h1>
       <button v-for="el in pages" v-on:click="page = el">{{ el }}</button>
       
       <section v-if="page == 'background'" class="background">
        <h2>background colors , background size</h2>
      </section>

      <section v-else-if="page == 'borders'" class="borders">
        <h2>borders</h2>
      </section>

       <section v-else-if="page == 'colors'" class="colors">
         <h2>Hex colors, RGB color wheel</h2>
       </section>
       
    
        
         <section v-else-if="page == 'images'" class="images">
          <h2>images</h2>
        </section>

        <section v-else-if="page == 'margin'" class="margin">
          <h2>Margin</h2>
          <p>Margin is a ....</p>
          <label for="margintop">Margin Top {{margin.top}}</label>
          <input
            type="range"
            id="margin-top"
            name="margintop"
            min="0"
            max="20"
            v-model="margin.top"
          />
          <label for="marginleft">Margin Left {{margin.left}}</label>
          <input
            type="range"
            id="margin-left"
            name="marginleft"
            min="0"
            max="20"
            v-model="margin.left"
          />

          <div class="parent">
            <div v-for="i in 5" class="child" :style="marginStyle"></div>
          </div>
        </section>

        <section v-else-if="page == 'media query'" class="media query">
          <h2>media query</h2>
        </section>

        <section v-else-if="page == 'padding'" class="padding">
          <h2>padding</h2>
          <p>Margin is a ....</p>
          <label for="paddingtop">padding Top {{padding.top}}</label>
          <input
            type="range"
            id="padding-top"
            name="paddingtop"
            min="0"
            max="20"
            v-model="padding.top"
          />
          <label for="paddingleft">padding Left {{padding.left}}</label>
          <input
            type="range"
            id="padding-left"
            name="paddingleft"
            min="0"
            max="20"
            v-model="padding.left"
          />

          <div class="parent" :style="paddingStyle">
            <div v-for="i in 5" class="child"></div>
          </div>
        </section>

        <section v-else-if="page == 'position'" class="position">
          <h2>position</h2>
        </section>

        <section v-else-if="page == 'selectors'" class="selectors">
          <h2>selectors</h2>
        </section>


        <section v-else-if="page == 'shadow'" class="shadow">
          <h2>shadow</h2>
        </section>

        <section v-else-if="page == 'typography'" class="typography">
          <h2>Font</h2> 
          <h3>weight</h3>
           <p>We can set...</p>
           <h2>import google fonts</h2>
          <h2>Headers</h2>
          <h1>H1 Example</h1>
          <h2>H2 Example</h2>
          <h3>H3 Example</h3>
          <h4>H3 Example</h4>
        </section>



       

        <section v-else-if="page == 'variables'" class="variables">
          <h2>variables</h2>
        </section>

      </div>
    </main>
  </body>

  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        page:"margin",
        pages:[
            "background",
            "borders",
            "colors",
            "images",
           "margin",
            "media query",
            "position",
            "padding",
          "shadow",
            "selectors",
            "typography",
            "variables",
            ],

        padding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        },
        margin: {
          top: 5,
          right: 0,
          bottom: 0,
          left: 5
        }
      },
      computed: {
        marginStyle() {
          return {
            "margin-top": this.margin.top + "px",
            "margin-right": this.margin.right + "px",
            "margin-bottom": this.margin.bottom + "px",
            "margin-left": this.margin.left + "px"
          };
        },
        paddingStyle() {
          return {
            "padding-top": this.padding.top + "px",
            "padding-right": this.padding.right + "px",
            "padding-bottom": this.padding.bottom + "px",
            "padding-left": this.padding.left + "px"
          };
        }
      }
    });
  </script>
</html>
